@import "./fonts/typography";
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.align_items_center {
  align-items: center;
}

.common_margin {
  margin: 50px 0;
}

p {
  color: #666;
  font-family: $Poppins_Regular;
  font-size: 17px;
  font-style: normal;
  margin: 0;
}

.no-overflow {
  overflow: hidden;
}

.commonParagraphStyle {
  color: #666;
  text-align: justify;
  font-family: $Poppins_Regular;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
}

.blogs_slider .slick-dots,
.testimonail_slider .slick-dots {
   bottom: -14px; 
  z-index: 2;
}

.blogs_slider .slick-dots li,
.testimonail_slider .slick-dots li {
  margin: 0 5px;
  width: 30px;
}

.blogs_slider .slick-dots li button,
.testimonail_slider .slick-dots li button {
  background-color: #d9d9d9;
  height: 5px;
  width: 30px;
  border-radius: 3px;
  margin: auto;
  padding: 2px;
}

.blogs_slider .slick-dots li button::before,
.testimonail_slider .slick-dots li button::before {
  display: none;
}

.testimonail_slider,
.blogs_slider {
  overflow: hidden;
}

.blogs_slider .slick-dots .slick-active button,
.testimonail_slider .slick-dots .slick-active button {
  width: 30px;
  height: 5px;
  border-radius: 3px;
  background-color: #7b7b7b;
}

.commonButtonStyle {
  border-radius: 5px;
  background: #dda23f;
  border: none;
  color: #fff;
  font-family: $Poppins_Medium;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
}

.commonBigHeadingStyle {
  color: #153443;
  font-family: $font-family-heading;
  font-size: 45px;
  font-style: normal;
  line-height: normal;
}

.commonSmallHeadingStyle {
  color: #808080;
  font-family: $font-family-subHeading;
  font-size: 25px;
  font-style: normal;
}

.footerHeadingStyle {
  color: #fff;
  font-family: $Poppins_SemiBold;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footerAnchorStyle {
  text-decoration: none;
  color: white;
  padding: 8px 0 0 0;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.collapse.navbar-collapse.justify-content-end.show {
  padding: 20px;
}

.footerAddress {
  font-family: $Poppins_Regular;

  font-size: 15px;
  color: white;
  line-height: 20px;
}

.header_main {
  background-color: #153443;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
}

.links {
  display: flex;
  /* align-items: center; */
  gap: 20px;
  transition: all 0.3s;
}

.cross_btn {
  padding-top: 10px;
}
.links a {
  color: #fff;
  font-family: $Inter_Regular;

  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  display: flex;
  align-content: center;
  line-height: 30px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0;
  transition: all 0.3s;
}

.cross_btn {
  display: none;
}

.book_appointment_btn {
  border-radius: 5px;
  background: #dda23f;
  padding: 7px 20px;
  border: none;
  color: #153443;
  font-family: $Inter_Medium;
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .common_margin {
    padding: 25px 0;
  }
  .links.open {
    display: flex;
    width: 70vw;
    position: fixed;
    height: 100%;
    background: #153443;
    z-index: 9;
    animation: slideOut 1s ease-in-out;
  }
  
  .links.close {
    animation: slideIn 1s ease-out;
  }
  
  .links {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    flex-direction: column;
    padding: 20px;
    width: 70vw;
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  .links a {
    line-height: 20px;
  }

  .hamburger {
    display: flex;
  }

  .cross_btn {
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: flex-end;
  }

  .book_appointment_btn {
    width: max-content;
  }
}
@media screen and (max-width: 768px) {
  p {
    font-size: 15px;
  }
  .commonParagraphStyle {
    font-size: 17px;
  }
  .footerAddress {
    font-size: 13px;
    color: white;
    line-height: 16px;
  }
  .footerHeadingStyle {
    color: #fff;
    font-family: $Poppins_SemiBold;
    font-size: 16px;
  }
  .commonButtonStyle {
    font-family: $Poppins_Medium;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
  }

  .commonBigHeadingStyle {
    font-size: 35px;
    font-style: normal;
    line-height: normal;
  }

  .commonSmallHeadingStyle {
    color: #808080;
    font-family: $font-family-subHeading;
    font-size: 20px;
    font-style: normal;
  }
}


.footerSocialLinksContainerGlobal{
  display: flex;
  .footerSocialLinksAddressGlobal{
   
    width: 50%;
  }
  .footerSocialLinksGlobal{
    width: 16.667%;
   
  }
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
   
    .footerSocialLinksAddressGlobal{
     width: 231px;
    }
    .footerSocialLinksGlobal{
      width: 40%;
      h3{
        margin-bottom: 0px;

      }
     
    }
    
  }
  @media screen and (max-width: 450px) {
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-between;
   
    .footerSocialLinksAddressGlobal{
     width: 231px;
    }
    .footerSocialLinksGlobal{
      width: 80px;
      h3{
        margin-bottom: 0px;

      }
     
    }
    
  }
}
