@import "../../styles/fonts/typography";

.footerContainer {
  background-color: #153443;
  color: #fff;
  font-family: $Poppins_Regular;
  font-size: 15px;
  font-style: normal;

  p {
    line-height: 20px;
  }

  .socialLinksContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .footerBtn {
    width: 177px;
    height: 38px;
    margin: 10px 0;
  }
  .followUsContainer{
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
     
  }
  .SocialLinksCircle {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .footerCopyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;

    p {
      width: fit-content;
      color: white;
      font-family: $Inter_Regular;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      a {
        text-decoration: none;
        width: fit-content;
        color: #dedede;
        font-family: $Inter_Regular;
        font-size: 12px;
        font-style: normal;
       line-height: normal;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footerContainer {
    font-size: 13px;
    font-style: normal;
    
  
   
    .footerCopyright {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 30px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        text-align: center;
      }
      
  
    }
  }
  .followUsContainer{
    justify-content: center;
    align-items:center ;
   
}
  .addressContainer{
    p{
      text-align: center;
    }
    h3{
      text-align: center;
      margin-bottom: 5px;
    }
  }
  
}
