@import "../../styles/fonts/typography";

.visaHolders {
  background-color: #e5edf4;
  margin-bottom: 0;
  padding-top: 40px;

  .userImage {
    position: relative;
    height: 288px;

    img {
      object-fit: cover;
    }

    &::after {
      position: absolute;
      width: 100%;
      top: 0;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      content: "";
    }

    .userText {
      position: absolute;
      bottom: 10px;
      text-align: center;
      color: white;
      z-index: 2;
      width: 100%;
      text-align: center;

      p {
        color: white;
        font-family: $Inter_Regular;
      }
    }
  }
}