@import "../../styles/fonts/typography";

.ChooseCountryContainer {
  background-color: rgba(216, 230, 243, 0.79);
  padding: 40px 0;
  .ChooseCountrySmallHeading{
    width: 100%;
  }
  .ChooseCountryBigHeading{
    width: 100%;
  }

  .choose_country_child {
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
      width: 180px;
      height: 250px;
    }

    .country_title {
      color: #666;
      text-align: center;
      font-family: $Poppins_Regular;
      font-size: 19px;
      font-style: normal;
      text-align: center;
      width: 180px;
    }
  }
}
@media screen and (max-width: 768px) {
  .ChooseCountryContainer {
    .ChooseCountrySmallHeading{
     text-align: center;
      width: 100%;
    }
    .ChooseCountryBigHeading{
      text-align: center;
      width: 100%;
    }
  
    background-color: rgba(216, 230, 243, 0.79);
  
    .choose_country_child {
      
     
  
      .country_title {
        
        font-size: 17px;
      
      }
    }
  }
  .choose_country_child{
    padding: 10px !important ;
  }
  
}