@import "../../styles/fonts/typography";

.visaSteps {
  .visasteps_image {
    position: relative;
    height: 420px;
    width: 100%;

    img {
      object-fit: contain;
    }
  }

  .progressBarContainer {
    background-color: #e0ebf6;
    // border: 1px solid #ccc;
    height: 100%;
    width: 6px;
    position: relative;
  }

  .progressBar {
    background-color: #153443;
    height: 100%;
    transition: width 0.8s ease-in-out;

    .progress_bar_dot {
      height: 15px;
      width: 15px;
      border: 3px solid #153443;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .visaTypeButton {
    border: none;
    background-color: white;
    padding: 10px 0;
    color: #666;
    font-family: $Poppins_Regular;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    @media screen and (max-width: 640px) {
      font-size: 16px;
    }
  }

  .visaTypeButton.active {
    color: #153443;
    // font-family: $Poppins_Bold;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    @media screen and (max-width: 640px) {
      font-size: 17px;
    }
  }
}
@media screen and (max-width: 768px) {
  
  .visaStepsHeadingContainer{
    width: 100%;
    margin: 0;
    padding: 0 !important;
    text-align: center;
  }
}