
//section heading and sub headings
@font-face {
    font-family: 'Lato_Bold';
    src: url('../fonts/Lato/Lato-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_SemiBold';
    src: url('../fonts/Lato/Lato-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

//banner heading and sub headings
@font-face {
    font-family: 'Montserrat_SemiBold';
    src: url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat_Bold';
    src: url('../fonts/Montserrat/static/Montserrat-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}



$font-family-heading: 'Lato_Bold';
$font-family-subHeading: 'Lato_SemiBold';
$bannerHeading: 'Montserrat_Bold';
$bannerSubHeading: 'Montserrat_SemiBold';

@font-face {
    font-family: 'Poppins_Regular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins_Medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins_SemiBold';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
$Poppins_Regular: 'Poppins_Regular';
$Poppins_Medium: 'Poppins_Medium';
$Poppins_SemiBold: 'Poppins_SemiBold';

@font-face{
    font-family: 'Inter_Regular';
    src: url('../fonts/Inter/static/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;

}
@font-face{
    font-family: 'Inter_Medium';
    src: url('../fonts/Inter/static/Inter-Medium.ttf');
    font-weight: 500;

}
@font-face{
    font-family: 'Inter_Bold';
    src: url('../fonts/Inter/static/Inter-Bold.ttf');
    font-weight: 500;

}
$Inter_Regular: 'Inter_Regular';
$Inter_Medium: 'Inter_Medium';
$Inter_Bold: 'Inter_Bold';


