@import "../../styles/fonts/typography";

.circle-button {
  border: none;
  background-color: #153443;
  color: #fff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: all 0.5s ease;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -25px;
  left: 40%;
}

.circle-button span {
  transition: opacity 0.3s;
}

.circle-button.hovered span {
  opacity: 0;
}

.ribbon {
  position: absolute;
  top: 10px;
  padding: 5px 10px;
  background: #dda23f;
  z-index: 2;
  color: #FFF;
  text-align: center;
  font-family: $Poppins_SemiBold;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 100%;
    top: 0;
    left: -6.5px;
    padding: 0 0 7px;
    background: inherit;
    border-radius: 5px 0 0 0;
  }

  &::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 5px;
    bottom: -5px;
    left: -6.5px;
    background: #dda23f;
    border-radius: 0 0 0 5px;
  }
}



.blogs_slider .slick-slide.slick-active.slick-current .slider_active_btn {
  padding: 10px 20px;
  width: 60%;
  border-radius: 5px;
  background: #dda23f;
  left: 20%;
  right: 20%;
  bottom: -21px;

  &::before {
    content: "LOAD MORE";
    font-family: $Poppins_SemiBold;
    font-size: 14px;
  }

  &:hover {

    background: #153443;

  }
}

@media screen and (max-width: 420px) {
  .blogs_slider .slick-slide.slick-active.slick-current .slider_active_btn {
    padding: 10px 20px;
    width: 90%;
    border-radius: 5px;
    background: #dda23f;

    left: 5%;
    right: 5%;

    &::before {
      content: "LOAD MORE";
      font-family: $Poppins_SemiBold;
      font-size: 12px;
    }
  }
}


.blogs_slider .slick-list {
  padding: 25px 0 !important;
}