@import "../../styles/fonts/typography";

.imageContainer {
  height: 400px;
  // width: 95%;
  border-radius: 10px;
  box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.05);
  padding: 0;
  border-radius: 10px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;


  .image_main {
    position: relative;
    height: 200px;
  }

  h5 {
    color: #153443;
    text-align: center;
    font-family: $Poppins_SemiBold;
    font-size: 18px;
    font-style: normal;
    margin: 10px 20px;
  }

  p {
    color: #666;
    text-align: center;
    font-family: $Poppins_Regular;
    font-size: 16px;
    font-style: normal;
    margin: 10px 20px;
  }

  .slick-dots {
    // bottom: -40px;
    z-index: 2;

    li {
      margin: 0;
      width: 30px;

      button {
        background-color: red;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin: auto;

        &::before {
          display: none;
        }
      }
    }

    .slick-active {
      button {
        width: 30px;
        height: 10px;
        border-radius: 10px;
        background-color: greenyellow;
      }
    }

    @media screen and (max-width: 767px) {
      bottom: -30px;
    }
  }

}


@media screen and (max-width: 768px) {
  .imageContainer {
    h5 {
      font-size: 16px;
      line-height: normal
    }

    p {
      font-size: 14px;
      line-height: normal;
    }
  }
}

@media screen and (max-width: 646px) {
  .imageContainer {
    height: fit-content;
    // padding: 10px;
  }
}