@import "../../styles/fonts/typography";

.bannerImage {
    position: relative;
    width: 100%;
    height: 562px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        object-fit: cover;
    }

    .banner_content {
        // position: absolute;
        z-index: 1;

        h4 {
            color: #153443;
            font-family: $bannerSubHeading;
            font-size: 32px;
            font-style: normal;
        }

        h2 {
            color: #153443;
            font-family: $bannerHeading;
            font-size: 50px;
            font-style: normal;
            font-weight: 800;
            text-transform: uppercase;
        }

        ul {
            padding-left: 24px;

            li {
                color: #000;
                font-family: $Poppins_Regular;
                font-size: 19px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    @media screen and (max-width: 768px) {
        align-items: flex-start;

        .banner_content {
            padding-top: 40px;
            h4 {
                font-size: 20px;
            }

            h2 {
                color: #153443;
                font-family: $bannerHeading;
                font-size: 30px;
                padding: 5px 0;
            }

            ul {
                padding-left: 24px;

                li {
                    color: #000;
                    font-family: $Poppins_Regular;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}