.courses {
  width: 100%;
  background-color: #EFEEE9;
  padding-top: 40px;
  padding-bottom: 0;

  .coursesImageContainer {
    width: 100%;
    height: 400px;
    position: relative
  }

  img {
    object-fit: contain;
  }

  div {
    div {
      button {
        width: 272px;
        height: 51px;

        &:hover {

          background: #153443;

        }
      }
    }
  }

  @media screen and (max-width: 986px) {
    .coursesHeading {
      text-align: center;
    }

    .coursesPara {
      text-align: center;
    }

    button {
      width: fit-content;
      margin: 0 auto;
    }

    .coursesBtn {
      margin: 0 auto;
      width: fit-content;
      margin-bottom: 20px;
    }

  }
}

@media screen and (max-width: 768px) {
  .coursesImageContainer {
    width: 100%;
    height: 200px;

  }

}