@import "../../styles/fonts/typography";

.whyEduland {
  // div {
  //     padding: 20px;

  p {
    text-align: center;
    margin: 20px 0;
  }
  .exploreMoreContainer {
    width: fit-content;
    margin: 40px auto 0 auto !important;

    button {
      width: 238px;
      height: 51px;
      transition: background-color 0.3s; 
      &:hover{
        
        background: #153443;
     
      }
    }
  }

  .clients {
    display: flex;
    width: 100%;
    gap: 10px;
  

    div {
      width: 33%;
      border-right: 1px solid #cacaca;
      height: 89px;
      padding: 0;
      font-family:$Poppins_Regular;

      .clientsCountHeading {
        margin: 0;
        padding: 0 !important;
        text-align: center;
        color: #153443;
        text-align: center;
        font-family: $Poppins_SemiBold;
        font-size: 50px;
        font-style: normal;
        line-height: normal;
        // background-color: red;
        line-height: 52px;
      }

      .clientsCountPara {
        color: #666;
        margin: 0;
        padding: 0 !important; 
        text-align: center;
        font-family: $Poppins_Regular;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        // background-color: green;
      }
    }
    @media screen and (max-width: 640px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      div {
        width: 100%;
        margin: 10px;
        padding: 0;
        font-family: $Poppins_Regular;
        margin-bottom: 20px;
        border: none;
        text-align: center;

        .clientsCountPara{
            font-size: 40px;
        }

        .clientsCountPara  {
         font-size: 16px;
        }
      }
    }
  }

}
