.testimonail_slider .slick-list .slick-track {
  padding-top: 90px;
  padding-bottom: 50px;
  overflow: hidden;
}

.testimonail_slider .slick-slide.slick-active.slick-current {
  transform: scale(1.2);
  z-index: 100;
  opacity: 1;
  box-shadow: -7px 0px 28px -5px rgba(0, 0, 0, 0.18);
}

.testimonail_slider .slick-slide.slick-active {
  opacity: 0.5;
  z-index: -1;
  transform: scale(0.8);
}