@import "../../../styles/fonts/typography";

.testimonialCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 20px;
  margin: 0 auto;

  .testimonialCard_image {
    width: 105px;
    height: 104px;
    border: 5px solid #DDA23F;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -80px;

    img {
      object-fit: cover;
    }
  }

  h5 {
    color: #153443;
    font-family: $Inter_Bold;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  h6 {
    color: #acacac;
    font-family: $Inter_Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 5px auto;
    padding: 0;
  }

  p {
    color: #666;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  
  .testimonialCard {
    
    
    width: 80%;
    padding: 10px 10px;
    margin: 0 auto;
  }
  
}
@media only screen and (max-width: 768px) {
  
  .testimonialCard {
    
  
   
  
    h5 {
     
      
      font-size: 18px;
      
    }
  
   
  }
  
}