.main_cont {
    padding: 50px 0;
    width: 430px;

    position: relative;
}

.rotating_box {
    width: 430px;
    height: 430px;
    // border: 50px solid #000;
    // border-radius: 50%;
    background: url('/images/rotaingimg.png');
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    // position: relative;
    // margin: 40px 0;

    .logo1 {
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo2 {
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translateX(-50%);
    }


}

// .logo_container {
//     position: absolute;
//     // border: 50px solid #000;
//     border-radius: 50%;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transform-origin: 50% 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     // animation: rotate 10s linear infinite;
//     // transform-origin: center;
// }

.logo {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 50px;
    background-color: #0073e6;
    color: #fff;
    border-radius: 50%;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}