.testimonials {
  h3 {
    text-align: center;
  }
  .testimonialsHeadingPara {
    text-align: center;
    padding: 0;
    width: fit-content;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    &::after {
      content: url("/icons/testimonials_after.svg");
      position: absolute;
      right: -20%;
      top: -60px;
    }

    &::before {
      content: url("/icons/testimonials_before.svg");
      position: absolute;
      left: -20%;
      top: -60px;
      
    }
    @media screen and (max-width: 810px) {
      &::after {
        display: none;
      }
      &::before {
        display: none;
      }
    }
  }
}
